div {
    text-align: center;
    font-family: fantasy;
    font-size: xx-large;

}
table, th, td {
    border: 2px solid darkgray;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 6px;
}

table {
    width: 350px;
    height: 400px;
    border: 0;
}

button {
    background-color: #d3d6da;
    border: 0;
    width: 40px;
    height: 50px;
    border-radius: 4px;
    font-size: large;
    /*margin: 1px;*/
    margin-top: 10px;
}

.long {
    width: 60px;
}

